<div id="googlemap" style="width:640px;height:640px"></div>

<p><button onclick="putCenter()">Submit</button></p>

<script>
  var map;
  function myMap() {
    var mapCanvas = document.getElementById("googlemap");
    var mapOptions = {
      center: new google.maps.LatLng(-33.688, -70.177),
      zoom: 18,
      mapTypeId: "satellite",
      disableDefaultUI: true
    };
    map = new google.maps.Map(mapCanvas, mapOptions);
  }
  function putCenter() {
    document.getElementById('center').value = map.getCenter();
    document.getElementById('zoom').value = map.zoom;
  }
</script>

<script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=myMap" %>></script>